.app-container {
    max-width: 5000px;
    margin: 40px auto;
    background: rgba(255, 255, 255, 0.167);
    border-radius: 12px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12);
    padding: 32px 24px;
    text-align: center;
}

body {
    background-position: center;
    background: url("https://i.pinimg.com/736x/17/d3/15/17d31545061e548050e7bfcdbadfac15.jpg");
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"] {
    cursor:default;
    background-color: #aed8e8;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #90c5f0;
    border-radius: 4px;
    flex: 1;
}

button[type="submit"] {
    padding: 8px 16px;
    background-color: #2060a1;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s;
}

button[type="submit"]:hover {
    background-color: #1565c0;
}

button.delete-btn {
    padding: 5px 12px;
    background-color: #1d62a2;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 10px; /* Move space to the right */
    margin-left: 0;
    transition: background 0.2s;
    vertical-align: middle;
}

button.delete-btn:hover {
    background-color: #000000;
}

h2 {
    margin: 10px 0;
    padding: 10px;
    background: #ffffff;
    border-radius: 4px;
    font-weight: normal;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2);
}

h4 {
    color: #ffffff;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: large;
    font-family: cursive;
    unicode-bidi: isolate;
}
